<h1 class="text-center">Here is your new lovely Tamagotchi</h1>

<div class="container-fluid">
<li class="list-group-item">
    <img class="center-block img-responsive" style="max-height:300px" src="https://d13yacurqjgara.cloudfront.net/users/529760/screenshots/1568105/tamagotchi_dribbble_1x.jpg
"></li>
</div>

<form action="/name">
<div class="form-group">
    <label for="name">How would you like to name your Tamagotchi Pet?
    </label>
    <input id="name" name="name" class="form-control" type="text">

</div>
<button type="submit" class="btn-success center-block">New Pet</button>
</form>
